@import "./circle1.scss";
@import "./circle2.scss";
@import "./circle3.scss";
@import "./circle4.scss";
@import "./circle5.scss";
@import "./circle6.scss";
@import "./circle7.scss";
@import "./circle8.scss";
@import "./circle9.scss";
@import "./container.scss";
@import "./circle-extra3.scss";
@import "./circle-extra1.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 65.2%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    animation: larger 10s linear infinite;
    .box {
      position: relative;
      text-align: center;
      .circle {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        border: none;
      }
      .circle-extra1{
        background-color: transparent;
        border: 2px gray solid;
        top: -40px;
        animation: circle-extra1 10s linear infinite;
      }
      .circle-extra3{
        background-color: gray;
        transform: scale(0);
        animation: circle-extra3 10s linear infinite;
      }
      .circle4{
        background-color: transparent;
        border: 2px solid gray;
        transform: scale(0);
        animation: circle4 10s linear infinite;
      }     
      .circle5{
        background-color: blue;
      }
      .circle6{
        background-color: transparent;
        transform: scale(0);
        border: 2px solid gray;
        animation: circle6 10s linear infinite;
      }
      .circle7{
        border: none;
        background-color:  green;
        animation: circle7 10s linear infinite;
      }
      .circle8{
        background-color: gray;
        opacity: .5;
        animation: circle8 10s linear infinite;
      }
    }
  }  
}