* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 65.2%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 20px;
  display: grid;
  grid-template-columns: 20px 20px 20px;
  animation: gap 0.5s ease-in-out forwards 3s;
}
.container .box {
  height: 20px;
  width: 20px;
  position: relative;
}
.container .box .circle,
.container .box .circle-extra {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: lightpink;
}
.container .box .circle-extra {
  z-index: -1;
}
.container .box-1 {
  animation: waiting 0.5s linear, waiting 0.5s linear 2s;
}
.container .box-1 .circle {
  background-color: rgb(63, 180, 220);
  animation: bubble1 0.5s ease-in-out forwards 4s, moveRight1 0.5s ease-in-out forwards 5s, moveLeft1 0.5s ease-in-out forwards 6s;
}
.container .box-1 .circle-extra {
  background-color: transparent;
  border: 2px solid gray;
  top: -200%;
  transform: scale(0);
  animation: present 0.5s ease-in-out forwards 5s, changeBackground1 1s ease-in-out forwards 5.5s;
}
.container .box-2 {
  transform: scale(0);
  transform-origin: center center;
  animation: presentBox2 2s linear forwards 3s;
}
.container .box-2 .circle {
  background-color: gray;
}
.container .box-3 {
  animation: waiting 0.5s linear 0.5s, waiting 0.5s linear 2.5s;
}
.container .box-3 .circle {
  background-color: rgb(213, 56, 56);
  animation: circleChangeFormat 0.5s ease-in-out forwards 3s, moveDown 0.5s ease-in-out forwards 3.5s, changeBackground 0.5s ease-in-out forwards 4s, moveRight3 0.5s ease-in-out forwards 4.5s, moveUp3 0.5s ease-in-out forwards 5s, moveBack 0.5s ease-in-out forwards 6.5s;
}
.container .box-3 .circle-extra {
  transform: scale(0);
  background-color: gray;
  animation: present 0.5s ease-in-out forwards 3.75s, moveDown 0.5s ease-in-out forwards 6.5s;
}
.container .box-4 {
  transform: scale(0);
  transform-origin: center center;
  animation: present 0.5s ease-in-out forwards 3s;
}
.container .box-4 .circle {
  background-color: transparent;
  border: 2px solid gray;
  animation: bubble4 0.5s ease-in-out forwards 5.5s;
}
.container .box-4 .circle-extra {
  background-color: gray;
  transform: scale(0);
  animation: bubble1-4-7 0.5s ease-in-out forwards 6s;
}
.container .box-5 {
  transform: scale(0);
  transform-origin: center center;
  animation: present 0.5s ease-in-out forwards 3s;
}
.container .box-5 .circle {
  background: linear-gradient(45deg, lightblue, #0874c0);
  animation: rotate360 1.5s linear infinite;
}
.container .box-6 {
  transform: scale(0);
  transform-origin: center center;
}
.container .box-7 {
  animation: waiting 0.5s linear 1.5s;
}
.container .box-7 .circle {
  background-color: rgb(59, 201, 31);
  animation: bubble1-4-7 0.5s ease-in-out forwards 3.5s, bubble1-4-7 0.5s ease-in-out forwards 5s;
}
.container .box-8 {
  transform: scale(0);
  transform-origin: center center;
  animation: present 0.5s ease-in-out forwards 3s;
}
.container .box-8 .circle {
  background-color: gray;
  animation: bubble8 0.5s ease-in-out forwards 4s;
}
.container .box-8 .circle-extra {
  background-color: transparent;
  border: 2px solid gray;
  animation: moveLeft 0.5s ease-in-out forwards 4s, moveUp 0.5s ease-in-out forwards 5s;
}
.container .box-9 {
  animation: waiting 0.5s linear 1s;
}
.container .box-9 .circle {
  background-color: rgb(223, 210, 62);
  animation: moveY 0.5s ease-in-out forwards 3.5s, changeBackground9 0.5s ease-in-out forwards 5.5s, moveBack9 0.5s ease-in-out forwards 6.5s;
}

@keyframes gap {
  0% {
    gap: 0;
  }
  100% {
    gap: 20px;
  }
}
@keyframes present {
  100% {
    transform: scale(1);
  }
}
@keyframes waiting {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bubble1-4-7 {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes moveRight1 {
  0% {
    left: 0;
    width: 100%;
  }
  50% {
    left: -200%;
    width: 300%;
  }
  100% {
    left: -200%;
    width: 100%;
  }
}
@keyframes moveLeft1 {
  0% {
    left: -200%;
    width: 100%;
  }
  50% {
    left: -200%;
    width: 300%;
  }
  100% {
    left: 0%;
    width: 100%;
  }
}
@keyframes moveBack {
  0% {
    left: 200%;
  }
  100% {
    left: 0%;
  }
}
/*-extra*/
@keyframes moveUp1 {
  0% {
    top: 0%;
  }
  100% {
    top: -200%;
  }
}
@keyframes changeBackground1 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.5);
  }
  50% {
    background-color: rgb(59, 201, 31);
    transform: scale(1);
    border: none;
  }
  100% {
    transform: scale(0);
  }
}
@keyframes presentBox2 {
  25% {
    transform: scale(0.25);
  }
  50% {
    transform: scale(0.5);
  }
  75% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes circleChangeFormat {
  0% {
    background-color: rgb(213, 56, 56);
  }
  100% {
    background-color: transparent;
    border: 2px solid rgb(213, 56, 56);
  }
}
@keyframes moveDown {
  0% {
    top: 0;
    height: 100%;
  }
  50% {
    top: 0;
    height: 300%;
  }
  100% {
    top: 200%;
    height: 100%;
  }
}
@keyframes moveRight3 {
  0% {
    left: 0;
    width: 100%;
  }
  50% {
    left: 0;
    width: 300%;
  }
  100% {
    left: 200%;
    width: 100%;
  }
}
@keyframes moveUp3 {
  100% {
    top: 0%;
  }
}
@keyframes changeBackground {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgb(213, 56, 56);
  }
}
@keyframes bubble4 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes moveY {
  0% {
    top: 0%;
  }
  100% {
    top: 200%;
  }
}
/*-extra*/
@keyframes bubble8 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
@keyframes moveLeft {
  0% {
    left: 0;
    width: 100%;
  }
  50% {
    left: 0%;
    width: 300%;
  }
  100% {
    left: 200%;
    width: 100%;
  }
}
@keyframes moveUp {
  0% {
    top: 0;
    height: 100%;
  }
  50% {
    top: -200%;
    height: 300%;
  }
  100% {
    top: -200%;
    height: 100%;
  }
}
@keyframes changeBackground9 {
  0% {
    background-color: rgb(223, 210, 62);
    transform: scale(1);
  }
  50% {
    background-color: rgb(223, 210, 62);
    transform: scale(0.5);
  }
  100% {
    background-color: transparent;
    border: 2px solid rgb(223, 210, 62);
    transform: scale(1);
  }
}
@keyframes moveBack9 {
  0% {
    top: 200%;
  }
  100% {
    top: 0;
    background-color: rgb(223, 210, 62);
  }
}

/*# sourceMappingURL=style.css.map */
